{% extends 'email/base.html.twig' %}

{# Reset password email #}

{%- set subject = 'PLUGIN_LOGIN.FORGOT_EMAIL_SUBJECT'|t(site_name) %}

{%- do email.message.setSubject(subject) %}

{%- block content -%}
  {{ 'PLUGIN_LOGIN.HOST_WARNING'|t(site_host)|raw }}
  {{ 'PLUGIN_LOGIN.FORGOT_EMAIL_BODY'|t(user.fullname ?? user.username, reset_link, author, site_name)|raw }}
{%- endblock content -%}

{#

<h1>Password Reset</h1>
<p>
  Dear {{ user.fullname ?? user.username }},
</p>
<p>
  A request was made on <b>{{ site_name }}</b> to reset your password.
</p>
<p>
  <br />
  <a href="{{ reset_link }}" class="btn-primary">Click this to reset your password</a>
  <br />
  <br />
</p>
<p>
  Alternatively, copy the following URL into your browser's address bar:
</p>
<p class="word-break">
  <a href="{{ reset_link }}">{{ reset_link }}</a>
</p>
<p>
  <br />
  Kind regards,
  <br />
  <br />
  {{ author }}
</p>

#}
